<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Dicas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-card id="testejj">
            <ion-card-header>
                <ion-card-title color="primary">Acompanhe os resultados de seu planejamento financeiro</ion-card-title>
            </ion-card-header>
        
            <ion-card-content id="letra" class="ion-text-justify">
                Faça o acompanhamento mensal dos resultados do planejamento financeiro, analisando as entradas e saídas de dinheiro, assim, conseguirá analisar dados do seu comportamento de consumo, por exemplo, aonde que está gastando mais dinheiro, em qual período do mês, e se o seu gasto está de acordo com a sua receita.</ion-card-content>
            <ion-card-content id="letra" class="ion-text-justify">
                No seu planejamento financeiro você pode identificar que em alguns meses você terá um saldo negativo, para estes momentos, você pode planejar um empréstimo pessoal para ter mais uma receita no mês, pagar todas as contas e pode parcelar nos meses seguintes. Na simulação do empréstimo, você já saberá qual serão os valores das parcelas, ajudando na sua organização.
            </ion-card-content>
          </ion-card>
  <ion-card id="testejj">
    <ion-card-header>
        <ion-card-title color="primary">Compare os preços de produtos e serviços</ion-card-title>
    </ion-card-header>

    <ion-card-content id="letra" class="ion-text-justify">
        Quer saber como economizar quando está realizando compras?  </ion-card-content>
    <ion-card-content id="letra" class="ion-text-justify">
        Comparar o mesmo produto ou serviço em 3 ou 4 lojas, ou comparar o mesmo produto de marcas diferentes pode te surpreender no valor que economizará,  e consequentemente terá mais dinheiro no final do mês.
        E nem precisa sair de casa para isso: atualmente, existem diversos sites que já fazem a comparação para você.
        Dessa maneira, você tem uma base de quanto pode e deve pagar por algo que você necessite (ênfase na palavra “necessidade”, pois a sua saúde financeira depende de consciência e responsabilidade para controlar os gastos).
    </ion-card-content>
  </ion-card>
  <ion-card id="testejj">
      <ion-card-header>
          <ion-card-title color="primary">Use o cartão de crédito estrategicamente</ion-card-title>
      </ion-card-header>
  
      <ion-card-content id="letra" class="ion-text-justify">
          O uso do cartão de crédito exige um planejamento financeiro, pois você paga a fatura após um certo período de tempo e não sente a saída do dinheiro no momento da compra, com isso seu uso em excesso pode gerar problemas financeiros.

          Mas é possível observar essa modalidade de pagamento como uma oportunidade de investimento pessoal também, sabia? </ion-card-content>
      <ion-card-content id="letra" class="ion-text-justify">
          Uma delas é a possibilidade de usar as milhas obtidas após o pagamento de cada fatura. Quando acumuladas, você pode convertê-las em produtos e/ou serviços.

Além disso, a possibilidade de parcelar as compras ajuda, em alguns casos ajudam em um alívio financeiro. Apenas tome cuidado com as taxas de juros cobradas pelo cartão de crédito em caso de atraso no pagamento da fatura.</ion-card-content>
    </ion-card>
    
    <ion-card id="testejj">
        <ion-card-header>
            <ion-card-title color="primary">Estabeleça metas e objetivos</ion-card-title>
        </ion-card-header>
    
        <ion-card-content id="letra" class="ion-text-justify">
            Para todo o esforço do planejamento financeiro que você está realizando valer a pena, estabeleça metas e objetivos, assim você saberá para que está realizando todas as economias e pode usufruir do dinheiro guardado no futuro. Alguns objetivos que você pode ter:
        </ion-card-content>
        <ion-card-content id="letra" class="ion-text-justify">
            Retirar seu nome dos órgãos de proteção ao crédito,
            Comprar um bem (como automóvel ou imóvel),
            Saldar dívidas pendentes,
            Melhorar o padrão de vida,
            Ter um investimento mensal,
            Realizar uma viagem.
        </ion-card-content>
      </ion-card>
      
</ion-grid>
</ion-content>
