<!DOCTYPE html>
<html lang="pt">

<head>

</head>

<body>

    <h2>Planejamento Financeiro</h2>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form  [formGroup]="authform" (ngSubmit)="onSubmit()">
			<h1>Login</h1>
			<span>Preencha o email e senha</span>
			<input type="email" placeholder="E-mail" formControlName="email" />
			<input type="password" placeholder="Senha" formControlName="senha" />
			<a href="/alterarSenha">Esqueceu sua senha?</a>
			<button type="ngSubmit" [disabled]="authform.invalid">Entra</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Bem Vindo!</h1>
				<p>Central de de relatorios Planejamento Financeiro.</p>
			</div>
		</div>
	</div>
</div>
</body>

</html>
