<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/tabs" (click)="pegarDadosOnline()"></ion-back-button>
    </ion-buttons>
    <ion-title id="PerfilTitulo">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 text-center>
        <img id="PerfilImagem" src="../../assets/logo.jpg" class="icon-7em" style="display:inline-block" />
      </h1>
  <ion-grid>
    <form [formGroup]="authform" (submit)="onSubmit()">
      <ion-item>
        <ion-icon name="md-contact" color="primary" slot="start"></ion-icon>
        <ion-label position="floating" >Nome Completo</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
      
      
      <ion-item>
        <ion-icon name="md-mail" color="primary" slot="start"></ion-icon>
        <ion-label position="floating" >E-mail</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="authform.invalid">ALterar</ion-button>
    </form>

  </ion-grid>

</ion-content>