<app-menu></app-menu>
<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Tela Inicial</ion-title>
</ion-toolbar>


<ion-content>
  <ion-grid>

    <ion-card>
      <ion-card-header>
          <ion-card-title color="primary" >Seja Bem Vindo ao Planejamento Financeiro</ion-card-title>
      </ion-card-header>

      <ion-card-content id="letra" class="ion-text-justify">
        Este app irá te ajudar a trabalhar em todo o processo de planejamento financeiro 
       pessoal ou de sua familia, tornando o dificil em simples.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
          <ion-card-title color="primary" >Vamos começar?</ion-card-title>
      </ion-card-header>

      <ion-card-content id="letra" class="ion-text-justify">
        Após ter efetuado o cadastro em nosso sistema, por favor preencher as informações adicionais.
        Para acessar-lo é necessario clicar nos  3 pontos logo acima e em seguida clicar em informações adicionais.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-header>
            <ion-card-title color="primary" >Simulações da Previdência </ion-card-title>
        </ion-card-header>
  
        <ion-card-content id="letra" class="ion-text-justify">
            Simulação é a possibilidade que o INSS oferece ao cidadão de saber quanto tempo falta para se aposentar e o valor do seu benefício, caso já tenha direito.
            Para saber mais:
        </ion-card-content>
        <ion-item href="https://www.inss.gov.br/servicos-do-inss/simulacao/">
          <ion-button expand="block" type="submit">Clique aqui</ion-button>
        </ion-item>
      </ion-card>
  </ion-grid>
</ion-content>
