<!DOCTYPE html>
<html lang="pt">

<head>
</head>

<body>
    <div>
      <app-menu></app-menu>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Viagem</h5>
              <h6 class="card-subtitle mb-2 text-muted">Ônibus</h6>
              <p class="card-text">marcação de viagem para o ônibus.</p>
              <a href="/viagemOnibus" class="card-link">Marcar</a>
            </div>
          </div>
        </div>
        <div class="col ">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Viagem</h5>
              <h6 class="card-subtitle mb-2 text-muted">TFD</h6>
              <p class="card-text">marcação de viagem para no TFD.</p>
              <a href="viagemTFD" class="card-link">Marcar</a>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Relatório de Viagem</h5>
              <h6 class="card-subtitle mb-2 text-muted">Ônibus</h6>
              <p class="card-text">Pacientes que viajaram no ônibus.</p>
              <a href="" class="card-link">Gerar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Relatório de Viagem</h5>
              <h6 class="card-subtitle mb-2 text-muted">TFD</h6>
              <p class="card-text">Pacientes que viajaram no TFD.</p>
              <a href="" class="card-link">Gerar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</body>

</html>